<% if @user.errors.any? %>
  <%= @user.errors.count %>errors
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <div class="container">
    <div ckass="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User info</h2>
        <%= form_with model: @user do |f| %>
        <div class="form-group">
          <label for="inputName">Name</label>
          <%= f.text_field :name, autofocus: true, id:"inputName", class: "form-control" %>
        </div>
        <div class="form-group">
        <div>
          <label for="inputImage">Image</label>
        </div>
          <%= f.file_field :profile_image, placehoider: "inputName", placeholder:"Name"%>
        </div>
        <div class="form-group">
          <label for="user_introduction">Introduction</label>
          <textarea class="form-control introduction" name="user[introduction]" id="user_introduction"></textarea>
        </div>
        <div class="form-group">
          <%= f.submit "Update User" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
